<% client = Client.find(@client_id) %>

<div class="lists">
  <h1>Client: <%= client.name() %></h1>
  <% if client.stylist_id() != 0 %>
    <% assigned_stylist = Stylist.find(client.stylist_id()) %>
    <h3><%= client.name() %>'s stylist: <a href="/stylists/<%= assigned_stylist.id() %>"><%= assigned_stylist.name() %></a></h3>
    <% msg = "Change assigned stylist:" %>
  <% else %>
    Client is not currently assigned to a stylist!
    <% msg = "Choose stylist to assign:" %>
  <% end %>
</div>

<form action="/clients/<%= @client_id %>" method="POST">
  <div class="form-group">
    <label class = "form-label" for="stylist_id"><%= msg %></label>
    <select class = "form-control" id="stylist_id" name="stylist_id">
      <option value='' disabled selected style='display:none'>Please Choose</option>
      <% if client.stylist_id != 0 %>
        <option value="NULL">[None]</option>
      <% end %>
      <% Stylist.all().each() do |stylist| %>
        <% if stylist.id() != client.stylist_id() %>
          <option value="<%= stylist.id() %>"><%= stylist.name() %></option>
        <% end %>
      <% end %>
    </select>
  </div>
  <button type="submit" class="button button-add">Assign Stylist</button>
</form>

<hr>

<form action="/clients/<%= @client_id %>" method="POST">
  <input name="_method" type="hidden" value="patch">
  <div class="form-group">
    <label class = "form-label" for="new_name">Change client name:</label>
    <input class = "form-control" id="new_name" name="new_name" class="form-control" type="text" placeholder="Enter new name">
  </div>
    <button type="submit" class="button button-edit">Change Name</button>
</form>

<hr>
<a href="/">Back</a>
