<% stylist = Stylist.find(@stylist_id) %>

<div class="lists">
  <h1>Stylist: <%= stylist.name() %></h1>

  <h3><%= stylist.name() %>'s clients:</h3>
  <% if stylist.clients().any?() %>
    <ul>
    <% stylist.clients().each() do |client| %>
      <li><a href="/clients/<%= client.id() %>"><%= client.name() %></a></li>
    <% end %>
    </ul>
  <% else %>
    This stylist has no clients assigned.
  <% end %>
</div>

<% if Client.all() != stylist.clients() %>
  <form action="/stylists/<%= @stylist_id %>" method="POST">
    <div class="form-group">
      <label class = "form-label" for="client_id">Assign client to this stylist:</label>
      <select class = "form-control" id="client_id" name="client_id">
        <option value='' disabled selected style='display:none'>Please Choose</option>
        <% Client.all().each() do |client| %>
          <% if ! stylist.clients().include?(client) %>
            <option value="<%= client.id() %>"><%= client.name() %> 
            <% if client.stylist_id != 0 %>
              (reassign from <%= client.stylist().name() %> to <%=stylist.name() %>)
            <% end %>
            </option>
          <% end %>
        <% end %>
      </select>
    </div>
    <button type="submit" class="button button-add">Assign Client</button>
  </form>
<% else %>
  All clients are assigned to this stylist!
<% end %>
  
<hr>

<form action="/stylists/<%= @stylist_id %>" method="POST">
  <input name="_method" type="hidden" value="patch">
  <div class="form-group">
    <label class = "form-label" for="new_name">Change stylist name:</label>
    <input class = "form-control" id="new_name" name="new_name" class="form-control" type="text" placeholder="Enter new name">
  </div>
    <button type="submit" class="button button-edit">Change Name</button>
</form>

<hr>
<a href="/">Back</a>
